Repository HCI-EF-10/project, pull requests merged in 2022-10, with the labels that each got.

#25 Fix test page styling
  frontend/src/components/FoodOptionContainer/FoodOptionsContainer.tsx
  frontend/src/components/FoodOptionsItem/FoodOptionsItem.tsx
  frontend/src/components/MenuContainer/MenuContainer.tsx
  frontend/src/pages/TestPage/TestPage.tsx
Labels: enhancement, frontend

#29 Removed backend dir
  backend/.env.example
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/config/config.ts
  backend/src/controllers/ExampleController.ts
  backend/src/models/Example.ts
  backend/src/models/__tests__/Example.test.ts
  backend/src/routes/ExampleRoutes.ts
  backend/src/server.ts
  backend/src/util/Logger.ts
  backend/tsconfig.json
Labels: backend

#30 Add instructions to homepage
  frontend/src/pages/HomePage.tsx
Labels: enhancement, frontend

#33 Renamed position to spacing.
  frontend/src/components/SettingsContainer/SettingsContainer.tsx
Labels: enhancement, frontend

#34 Updated readme according to the assignment brief.
  README.md
Labels: documentation, enhancement

#37 Added Bold Styling
  frontend/src/components/SettingsContainer/SettingsContainer.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/TestPage/TestPage.tsx
Labels: frontend
